
body{
  font-family: 'Norwester', "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  color: #37383a;
  line-height: 1;
  background-color: #DADED4;
  background-image: url("https://img.olympicchannel.com/images/image/private/t_16-9_760/primary/nztbbdryo2xg18wfqln3"); 
  background-blend-mode: screen;
 }

#main{
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

header{
  height: 400px;
  width: 100%;
  background-color: #39603D;
  margin-left: 0;
 }

#img-div{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:400px;
  background-color: #A3BCB6;
  background-image: url("https://raw.githubusercontent.com/suongfiori/tribute-page-hanyu/main/images/hanyu-transparent-1.png"); 
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 1000px;
  color: #3C403D;
  font-family: 'Norwester', sans-serif, serif;
  letter-spacing: 1px;
  font-weight: 900;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  line-height: 0.5;
  font-size: 25px;
  letter-spacing: 2.5px;
  color: #e5ebe7;
}

h1{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Norwester', sans-serif, serif;
  text-transform: uppercase;
  color: #39603D;
  font-size:8rem;
  line-height: 1;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 4px;
  margin-left: -10px;
  -webkit-text-stroke: 3px white; /* width and color */
  }

* {
	box-sizing: border-box;
}

.column {
	float: right;
	width: 33.33%;
	padding: 5px;
  margin-bottom: 20px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


.tribute-info{
  width: 1000px;
  height: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
}

.TXT{
  flex:1.5;
  margin-top: 20px;
}

.TXT h2{
  font-family: 'Norwester', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #f2f2f2; background: #39603D; padding: 2px;
}

.pText{
  font-family: 'Norwester', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 180%;
  text-align: justify;
  text-justify: inter-word;

}
aside {
width: 30%;
max-width: 300px;
min-width:  150px;
float: right;
background-color: #aeba7d;
background-repeat: no-repeat;
justify-content: center;
margin-left: 50px;
border-radius: 25% / 10%;
box-shadow: 10px 5px 5px #39603D;
box-shadow: inset 8em 12em #A3BCB6;
}

.sidebar{
  flex:1;
  margin-top: 80px;
  height: 450px;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.alignbar{
  margin-top: 30px;
  padding-right: 10px;
}

.barTXT{
  margin: 0px;
  color: #164A41;
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
}

.sum{
  margin: 0;
  color: white;
  font-family: 'Norwester', serif;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  line-height: 1.5rem;
 }

a{
  text-decoration: none;
  color:#5b84c8;
}
.line{
  margin-bottom:10px;
  height: 40px;
  width: 150px;
  border-bottom: 2px solid white;
}

.last-row {
  background-color: #39603D;
  color: #e5ebe7;
  padding: 2rem;
  text-align: center;
  font-size: 0.8em;
}

blockquote {
  font-size: 1rem;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  margin-bottom: 1rem;
}

.cite{
  margin-top: 5px;
  margin-bottom: 20px;
  color: #8c8c8c;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

#tribute-link-dash {
  text-decoration: none;
  margin-top: 10px;
  text-transform: uppercase;
}
#tribute-link:hover #tribute-link-dash {
  animation-name: tribute-link-dash-move;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.footer {
  font-family: 'Norwester';
  font-size: 0.8rem;
  text-align: center;
}

.border{
  border-style: inset;
  border-color: #FFFFFF;
  border-width: 3px;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
  background-color: #A3BCB6;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5)
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
  
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}